APP_PORT=4000
APP_SECRET_KEY=asdasd-asdasd-asdasd-asdasd-asdasd
APP_HTTP_PROTOCOL=http
APP_HOST=localhost

TYPEORM_CONNECTION=postgres
TYPEORM_SYNCHRONIZE=false
TYPEORM_MIGRATIONS_TABLE_NAME=migrations_typeorm
TYPEORM_MIGRATIONS_RUN=false
TYPEORM_LOGGER=simple-console
TYPEORM_LOGGING=all

TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=password
TYPEORM_DATABASE=database

TYPEORM_ENTITIES=src/**/entities/*.entity.ts
TYPEORM_ENTITIES_DIR=src/system/entities

TYPEORM_MIGRATIONS=src/common/database/migrations/**/*.ts
TYPEORM_MIGRATIONS_DIR=src/common/database/migrations

TYPEORM_SUBSCRIBERS=src/common/database/subscribers/*.ts
TYPEORM_SUBSCRIBERS_DIR=src/common/database/subscribers

TYPEORM_SEEDING_FACTORIES=src/common/database/factories/*.factory.ts
TYPEORM_SEEDING_SEEDS=src/common/database/seeds/*.seed.ts

MAILER_SERVICE=test.com
MAILER_HOST=smtp.test.com
MAILER_PORT=465
MAILER_USER=test@test.com
MAILER_PASSWORD=password
